<%= form_for(@project) do |f| %>
  <%= f.hidden_field :user_id %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :scenario %><br />
    <%= f.select :scenario,  options_for_select(Project.scenarios.map {|o| [o.titleize, o]}, @project.scenario) %>
  </div>
  <%= f.fields_for :datasets do |b| %>
  <div class="field">
    <%= b.hidden_field :category %>
    <%= b.label :file, "#{b.object.category.titleize} Dataset ZIP file" %><br />
    <%= b.file_field :file %>
    <%= b.hidden_field :file_cache %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
