<%= form_for(@project, :html => {:class => "form-stacked actions"}) do |f| %>
  <%= f.hidden_field :user_id %>
  <% if @project.errors.any? %>
    <div class="alert-message error">
      <strong><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</strong>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p><%= f.label :title %>
    <%= f.text_field :title, :class => "error" %></p>
    
    <p><%= f.label :scenario %>
    <%= f.select :scenario,  options_for_select(Project.scenarios.map {|o| [o.titleize, o]}, @project.scenario) %></p>

  <%= f.fields_for :datasets do |b| %>
  <p>
    <%= b.hidden_field :category %>
    <%= b.label :file, "#{b.object.category.titleize} Dataset ZIP file" %>
    <%= b.file_field :file %>
  </p>
  <% end %>
  <div class="actions">
    <%= f.submit "Save", :class => "btn primary" %>
    <%= link_to "Cancel", @project, :class => "btn default" %>
  </div>
<% end %>
