<ul class="breadcrumb">
  <li><%= link_to "My Projects", projects_path %> <span class="divider">/</span></li>
  <li><%= link_to @project.title, @project %> <span class="divider">/</span></li>
  <li class="active">Genes</li>
</ul>

<h1><%= @project.title %> (<%= @project.scenario.titleize %>)</h1>

<ul class="pills">
  <li><%= link_to("Summary", project_path(@project)) %></li>
  <li class="active"><%= link_to "Genes", genes_project_path(@project) %></li>
  <li><%= link_to "Pathways" %></li>
  <li><%= link_to "Diseases" %></li>
</ul>

<%= form_tag(genes_project_path(@project), :method => :get, :id => "variant_filter") do %>
<%= render :partial => "shared/filters" %>
<% end %>

<h2><%= pluralize(number_with_delimiter(@transcripts.size), "Gene")%></h2>
<table class="zebra-striped">
  <tr>
    <th>Chromosome</th>
    <th>Symbol</th>
    <th>Transcript ID</th>
    <th class="number">Case Genomes</th>
    <th class="number">Control Genomes</th>
  </tr>
  <% if @transcripts.present? %>
    <% @transcripts.each do |t| %>
  <tr>
    <td><%= t[0].chromosome %></td>
    <td><%= t[0].gene_symbol %></td>
    <td><%= t[0].transcript_id %></td>
    <td class="number"><%= t[1] %></td>
    <td class="number"><%= t[2] %></td>
  </tr>
    <% end %>
  <% end %>
</table>