<ul class="breadcrumb">
  <li><%= link_to "My Projects", projects_path %> <span class="divider">/</span></li>
  <li><%= link_to @project.title, @project %> <span class="divider">/</span></li>
  <li class="active">Genes</li>
</ul>

<h1><%= @project.title %> (<%= @project.scenario.titleize %>)</h1>

<ul class="pills">
  <li><%= link_to("Summary", project_path(@project)) %></li>
  <li class="active"><%= link_to "Variant Filter", genes_project_path(@project) %></li>
</ul>

<%= form_tag(genes_project_path(@project), :method => :get, :id => "variant_filter") do %>
<%= render :partial => "shared/filters" %>

<br />

<h2><%= pluralize(number_with_delimiter(@genes_count), "Gene")%></h2>
<table class="zebra-striped">
  <thead>
    <tr>
      <th>Chromosome</th>
      <th>Symbol</th>
      <th>Transcript ID</th>
      <th><%= select("genes", "case_genomes", [["All (#{@case_dataset.genomes_count})", "all"], ["Some (1-#{@case_dataset.genomes_count - 1})", "some"], ["No (0)", "no"]], { :selected => (params[:genes].present? and params[:genes][:case_genomes].present?) ? params[:genes][:case_genomes] : "all"}, :class => "span2")%> Case Genomes</th>
      <th class="number"><%= select("genes", "control_genomes", [["All (#{@control_dataset.genomes_count})", "all"], ["Some (1-#{@control_dataset.genomes_count - 1})", "some"], ["No (0)", "no"]], { :selected => (params[:genes].present? and params[:genes][:control_genomes].present?) ? params[:genes][:control_genomes] : "no" }, :class => "span2")%> Control Genomes</th>
    </tr>
  </thead>
  <% if @transcripts.present? %>
  <tbody>
    <% @transcripts[0 .. (@transcripts_size > 100 ? 99 : @transcripts_size)].each do |t| %>
    <tr>
      <td><%= t[0].chromosome %></td>
      <td><%= t[0].gene_symbol %></td>
      <td><%= t[0].transcript_id %></td>
      <td class="number"><%= t[1] %></td>
      <td class="number"><%= t[2] %></td>
    </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
<% end %>
