<h1><%= @project.title %></h1>
<p>
  <b>Scenario:</b>
  <%= @project.scenario %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Delete', @project, confirm: 'Are you sure?', method: :delete %>
<%= link_to 'Back', projects_path %>
