<h1><%= @project.title %> (<%= @project.scenario.titleize %>)</h1>

<h2>Datasets</h2>

<ul>
<% @project.datasets.each do |dataset| %>
  <li><%= dataset.category%>: <%= dataset.read_attribute(:file) %> (<%= number_to_human_size(dataset.file.size) %>)</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Delete', @project, confirm: 'Are you sure?', method: :delete %>
<%= link_to 'Back', projects_path %>
