<ul class="breadcrumb">
  <li><%= link_to "My Projects", projects_path %> <span class="divider">/</span></li>
  <li><%= link_to @genome.dataset.project.title, @genome.dataset.project %> <span class="divider">/</span></li>
  <li class="active"><%= @genome.file_name %></li>
</ul>

<div class="row">
  <div class="span12 colums">
    <h1><%= @genome.file_name %> (<%= @genome.dataset.category %>)</h1>
    
  </div>
  <div class="span4 colums">
    <%= form_tag(genomes_path, :method => :get, :id => "genome_selector") do %>
      <%= label("genome", "id", "Genomes") %>
      <%= select("genome", "id", grouped_options_for_select(@grouped_genomes, @genome.id)) %>
    <% end %>
  </div>
</div>

<%= form_tag(@genome, :method => :get, :id => "variant_filter") do %>
<%= render :partial => "shared/filters" %>
<% end %>

<h2><%= pluralize(@transcripts.size, "Gene")%></h2>
<table class="zebra-striped">
  <tr>
    <th>Chromosome</th>
    <th>Symbol</th>
    <th>Transcript ID</th>
    <th class="number">Variants Count</th>
  </tr>
  <% if @transcripts.present? %>
    <% @transcripts.each do |t| %>
  <tr>
    <td><%= t[0].chromosome %></td>
    <td><%= t[0].gene_symbol %></td>
    <td><%= t[0].transcript_id %></td>
    <td class="number"><%= t[1] %></td>
  </tr>
    <% end %>
  <% end %>
</table>
