<h1><%= link_to @genome.dataset.project.title, @genome.dataset.project %> <small><%= @genome.file_name %> (<%= @genome.dataset.category %>)</small></h1>

<div class="row">
  <div class="span11 colums">
    <h2>Genes</h2>
    <table class="zebra-striped">
      <tr>
        <th>Chromosome</th>
        <th>Symbol</th>
        <th>Transcript ID</th>
        <th class="number">Variants Count</th>
      </tr>
      <% if @transcripts.present? %>
        <% @transcripts.each do |item, count| %>
      <tr>
        <td><%= item[0] %></td>
        <td><%= item[1] %></td>
        <td><%= item[2] %></td>
        <td class="number"><%= count%></td>
      </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <div class="span5 colums">
    <h2>Filters</h2>
    <div class="form-stacked actions">
      <%= form_tag(@genome, :method => :get, :id => "variant_filter") do %>

      <p><%= label("variant", "gene_model") %>
      <%= select("variant", "gene_model", [["RefSeq", "r"], ["CCDS", "c"], ["Ensembl", "e"], ["UCSC known gene", "u"]], {
    :selected => params[:variant].present? ? params[:variant][:gene_model] : "refGene" }) %></p>

      <p><%= label("variant", "ancestry") %>
        <%= select("variant", "ancestry", [["European", "european"], ["Asian", "asian"], ["African", "african"]], { :selected => (params[:variant].present? and params[:variant][:ancestry].present?) ? params[:variant][:ancestry] : "European" })%></p>

      <p><%= label("variant", "allele_frequency", "Allele Frequency")%>
      <%= select("variant", "allele_frequency", [["novel", "n"], ["rare (< 1%)", "r"], ["less common (< 5%)", "l"], ["common (>= 5%)", "c"]], { :selected => (params[:variant].present? and params[:variant][:allele_frequency].present?) ? params[:variant][:allele_frequency] : "n" })%></p>
    
      <p><%= label("variant", "impact") %>
      <%= select("variant", "impact", @genome.summaries.select{|s| s.category == "impact"}.map(&:item).uniq.sort, {
    :include_blank => true, :selected => params[:variant].present? ? params[:variant][:impact] : nil }) %></p>

      <p><%= label("variant", "gene_component", "Gene Component") %>
      <%= select("variant", "gene_component", @genome.summaries.select{|s| s.category == "gene_component"}.map(&:item).uniq, {
    :include_blank => true, :selected => params[:variant].present? ? params[:variant][:gene_component] : nil}) %></p>
      
      <h3>In-silico Predictions</h3>
      <p><%= label("variant", "PPH2_pred", "PPH2") %>
      <%= select("variant", "PPH2_pred", ["deleterious", "neutral"], {
    :include_blank => true, :selected => params[:variant].present? ? params[:variant][:PPH2_pred] : nil }) %></p>

      <p><%= label("variant", "SIFT_pred", "SIFT") %>
      <%= select("variant", "SIFT_pred", ["deleterious", "neutral"], {
    :include_blank => true, :selected => params[:variant].present? ? params[:variant][:SIFT_pred] : nil }) %></p>

      <p><%= label("variant", "Condel_pred", "Condel") %>
      <%= select("variant", "Condel_pred", ["deleterious", "neutral"], {
    :include_blank => true, :selected => params[:variant].present? ? params[:variant][:Condel_pred] : nil }) %></p>
      <% end %>
    </div>
  </div>
</div>


