<!DOCTYPE html>
<html>
<head>
  <title>gKnome: Whole Genome Sequencing Analysis Pipeline</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
<header>
  <%= link_to_unless_current "gKnome", root_path %>
  <nav>
    <%= link_to_unless_current "Home", root_path %>
    <%= link_to_unless_current "About", about_path %>
    <%= link_to_unless_current "Contact", contact_path %>
  </nav>
</header>

<div id="main" role="main">
<%= yield %>
</div>

<footer>

</footer>
</div><!-- #container -->
</body>
</html>
